<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors"> 
      <editor
            class="hPE.hPEEditor"
            contributorClass="hPE.HPEEditorActionBarContributor"
            default="false"
            extensions="hpe2"
            icon="hash.gif"
            id="org.eclipse.HPEEditor"
            name="HPE Editor"/>
      <editor
            class="hPE.HPEVersionEditor"
            contributorClass="hPE.HPEEditorActionBarContributor"
            default="false"
            extensions="hpe"
            icon="hash.gif"
            id="org.eclipse.HPEVersionEditor"
            name="HPE Version Editor"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.HPEWizardCategory"
            name="HPE"/>
      <wizard
            category="org.eclipse.HPEWizardCategory"
            class="hPE.HPEWizard"
            icon="hPE/util/icons/component.gif"
            id="org.eclipse.HPE.HPEWizard"
            name="# Configuration">
         <selection class="org.eclipse.core.resources.IResource"/>
         <description/>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
	   <perspective
          class="hPE.HPEPerspective"
          fixed="false"
          id="hPE.HPEPerspective"
          name="Hash Programming Environment">
	   </perspective>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category 
           id="hPE.frontend"
           name="HPE Frontend">
      </category>
      <view
            class="hPE.HPEResourceNavigator"
            id="hPE.HPEResourceNavigator"
            name="Configuration Sessions"
            category="hPE.frontend"/>
      <view
            class="hPE.core.library.HPEComponentLibraryView"
            id="hPE.library.HPEComponentLibraryView"
            name="Repository"
            category="hPE.frontend"/>

      <view
            class="hPE.core.library.LocationView"
            id="hPE.core.library.LocationView"
            name="Location's Server List"
            category="hPE.frontend"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
   </extension>
   <extension
         point="org.eclipse.ui.dropActions">
      <action
            class="hPE.DropActionDelegate1"
            id="HPE.action1"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="HPE_FrontEnd.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="HPE_FrontEnd.commands.category"
            id="HPE_FrontEnd.commands.sampleCommand"
            name="Sample Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="hPE.frontend.commandline.CommandLineHandler"
            commandId="HPE_FrontEnd.commands.sampleCommand"
            helpContextId="Front-End&apos;s Command Line">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="HPE_FrontEnd.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="HPE_FrontEnd.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="HPE_FrontEnd.commands.sampleCommand"
                  id="HPE_FrontEnd.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="HPE_FrontEnd.toolbars.sampleToolbar">
            <command
                  commandId="HPE_FrontEnd.commands.sampleCommand"
                  icon="icons/sample.gif"
                  id="HPE_FrontEnd.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="hPE.ui.preferences.HPEPreferencePage"
            id="hPE.ui.preferences.HPEPreferencePage"
            name="HPE">
      </page>
      <page
            class="hPE.ui.preferences.BackendPreferencePage"
            id="hPE.ui.preferences.BackendPreferencePage"
            name="Backend Address"
            category="hPE.ui.preferences.HPEPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="hPE.ui.preferences.PreferenceInitializer">
      </initializer>
      <initializer
            class="hPE.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated HashComponent -->
      <package
            uri="http://www.example.org/HashComponent"
            class="hPE.xml.component.ComponentPackage"
            genModel="src/hPE/xml/HashComponent.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated HashComponent -->
      <parser
            type="component"
            class="hPE.xml.component.util.ComponentResourceFactoryImpl"/>
   </extension>
</plugin>
